@mixin cellColor($name,$color){
  .#{$name}{
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:$color;

    img{
      width: 48px;
      height: 48px;
    }

  }
  
}

.available{
  width: 15px;
  height: 15px;

  background-color: #00ff00;
  border-radius: 50%

}

@include cellColor('white',#fddc7d);
@include cellColor('black', #493700);
@include cellColor('selected', #00ff00);
@include cellColor('check', #ff0000);


