.gameModes{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:150px;
    
}

h1{

}

.container{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    
    
}